
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');



.upper-box{
    background-color: #17171d;
    padding: 1px;
}
h1{
    
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.logo{
    box-sizing: border-box;
    padding: 0%;
    position: fixed;
    margin-top: -100px;
    margin-left: 760px;

}
#five{
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    
}

#six{
    border-radius: 20px;
    background-color: #17171d;
    
}
button{
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    background-color: gray;
}

div{
    font-family:sans-serif;
}

